
{% include 'navbar2.html.twig'%}

{% block body  %}           
    

    <div class="row">
      <div class ="col-2">
        {% include 'nav.html.twig'%} 
     </div>
     <div class="col-9">
     <div class="container marginbas"style="margin-left:50px;">
      <div class="card mt-1 ">
      <div class="card-header bg-primary"> Recherche de paie des fournisseurs</div>
       <div class="card-body">
         <form method="get" action="paieFournisseurs.php" class= "form-inline">
         <input type="text" class="form-control" placeholder="Entrez le nom du fournisseur" name="nomFournisseur">
        &nbsp <input type="submit" class="btn btn-success" value="Recherche......">      
        &nbsp&nbsp <a href ="AjoutezPaieFournisseur.php"> <i class="fa fa-plus" aria-hidden="true"></i>Ajoutez la paie du fournisseur</a>
       </form>
       </div>
     </div>
     </div>
    <div class="container marginbas" style="margin-left:50px;">
    <div class="card">
    <div class="card-header bg-primary"> La liste des paies des fournisseurs</div> <p>
        <div class="card-body">
            <table class="table table-striped container ">
                <thead>
                    <tr>
                         <th scope="col">N°Paiment</th>
                         <th scope="col">Fournisseur</th>
                         <th scope="col">Montant versé</th>
                         <th scope="col">Solde</th>
                         <th scope="col">statut du versement</th>
                         <th scope="col">Date de paie</th>
                         <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="PaieFournisseurs">
                    {% for paieFournisseur in PaieFournisseurs %}
                        <tr>   
                            <td> {{paieFournisseur.idPaieFournisseur}} </td>
                            <td> {{paieFournisseur.nomFournisseur}}</td>
                             <td> {{paieFournisseur.montant}} </td>
                              <td> {{paieFournisseur.montantRester}} </td>
                             <td> {{paieFournisseur.statut}} </td>
                            <td> {{paieFournisseur.date}} </td>
                            <td> <a href="EditePaieFournisseur.php?&id={{paieFournisseur.idPaieFournisseur}}" target="_self"><i class="fas fa-edit"></i></a> &nbsp
                            <a onclick ="return confirm(' Êtes vous sûr de vouloir supprimer le produit')";
                             href="SupprimePaieFournisseur.php?&id={{paieFournisseur.idPaieFournisseur}}" target="_self"> <i class="fas fa-trash-alt"></i> </a>
                            </td>
                        </tr>   
                    {% endfor %}
                 </tbody>
                </table>

                  <input type="button" class="btn btn-success" onclick="window.location.href = 'ImprimePaieFournisseur.php';" value="imprimer"/>

                 <div class="container" style="text-align: center;" >
                        <button class="btn btn-primary" onclick="firstPage()">|&lt;</button>
                        <button class="btn" onclick="previous()">  &lt;</button>
                        <span id="pageInfo"></span>
                        <button class="btn" onclick="nextPage()">&gt;</button>
                        <button class="btn btn-primary" onclick="lastPage()">&gt;|</button>
                    </div>
             </div>
            </div>
        </div>
    </div>
   </div>
 </div>
 </div>


{% endblock %} 
 



    
{% block script %}
    <script > 
   
    let PaieFournisseurs = {{PaieFournisseurs|json_encode|raw}};
    
    </script>
      <script src="js/PaieFournisseurs.js"></script>

 {% endblock %}
 
 
