
{% include 'navbar2.html.twig'%}

{% block body  %}           
    <div class="row">
      <div class ="col-2">
       {% include 'nav.html.twig'%} 
       </div>
     <div class="col-9">
     <div class="container " style="margin-left:50px;">
      <div class="card mt-1 ">
      <div class="card-header bg-primary"> Recherche d'entrées de stocks</div>
       <div class="card-body">
         <form method="get" action="EntreesStockes.php" class= "form-inline">
         <input type="text" class="form-control" placeholder="Entrez le libelle du stocke" name="libelle">
        &nbsp <input type="submit" class="btn btn-success" value="Recherche......">      
        &nbsp&nbsp <a href ="AjouteEntreStock.php"> <i class="fa fa-plus" aria-hidden="true"></i>Ajouter stock</a>
       </form>
       </div>
     </div>
     </div>
    <div class="container marginbas"style="margin-left:50px;">
    <div class="card">
    <div class="card-header bg-primary"> La liste des familles des produits</div> <p>
        <div class="card-body">
            <table class="table table-striped container ">
                <thead>
                    <tr>
                         <th scope="col">N°Stocke</th>
                         <th scope="col">N°Fournisseur</th>
                         <th scope="col">Libellé</th>
                         <th scope="col">Prix unitaire</th>
                         <th scope="col">Quantité</th>
                         <th scope="col">PA+TVA</th>
                         <th scope="col">Date de réception</th>
                         <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="StockesEntrees">
                    {% for stocke in StockesEntrees %}
                        <tr>
                            <td> {{stocke.idStocke}} </td>
                            <td> {{stocke.idFournisseur}} </td>
                            <td> {{stocke.libelle}}</td>
                            <td> {{stocke.prixUnitaire}} </td>
                            <td> {{stocke.quantite}} </td>
                            <td> {{stocke.montantDu}} </td>
                            <td> {{stocke.date}} </td>
                            <td> <a href="EditeStockeEntre.php?&id={{stocke.idStocke}}" target="_self"><i class="fas fa-edit"></i></a> &nbsp
                            <a onclick ="return confirm(' Êtes vous sûr de vouloir supprimer le produit')";
                             href="SupprimeStockEntre.php?&id={{stocke.idStocke}}" target="_self"> <i class="fas fa-trash-alt"></i> </a>
                            </td>
                        </tr>   
                    {% endfor %}
                 </tbody>
                </table>
                     <input type="button" class="btn btn-success" onclick="window.location.href = 'ImprimerStockEntrees.php';" value="imprimer"/>

                    <div class="container" style="text-align: center;" >
                        <button class="btn btn-primary" onclick="firstPage()">|&lt;</button>
                        <button class="btn" onclick="previous()">  &lt;</button>
                        <span id="pageInfo"></span>
                        <button class="btn" onclick="nextPage()">&gt;</button>
                        <button class="btn btn-primary" onclick="lastPage()">&gt;|</button>
                    </div>
                 </div>
             </div>
         </div>
      </div>
     </div>
   </div>
 </div>
 
   


{% endblock %} 

  

    
{% block script %}
    <script > 
    let StockesEntrees = {{StockesEntrees|json_encode|raw}};
    </script>
      <script src="js/EntreesStockes.js"></script>

 {% endblock %}
 



  