
{% include 'navbar2.html.twig'%}

{% block body  %}           
    <div class="row">
      <div class ="col-2">
        {% include 'nav.html.twig'%} 
     </div>
     <div class="col-9">
     <div class="container marginbas"style="margin-left:50px;">
      <div class="card mt-1 ">
      <div class="card-header bg-primary"> Recherche commande</div>
       <div class="card-body">
         <form method="get" action="commandes.php" class= "form-inline">
         <input type="text" class="form-control" placeholder="Entrez le nom du client" name="nomClient">
        &nbsp <input type="submit" class="btn btn-success" value="Recherche......">      
        &nbsp&nbsp <a href ="AjouteCommande.php"> <i class="fa fa-plus" aria-hidden="true"></i>Ajoute commande</a>
       </form>
       </div>
     </div>
     </div>
    <div class="container marginbas"style="margin-left:50px;">
    <div class="card">
    <div class="card-header bg-primary"> La liste des commandes</div> <p>
        <div class="card-body">
            <table class="table table-striped container ">
                <thead>
                    <tr>
                        <th scope="col">N°Commande</th>
                         
                         <th scope="col">client</th>
                         <th scope="col">Nom du produit</th>
                         <th scope="col">Prix unitaire</th>
                         <th scope="col">Quantité</th>
                         <th scope="col">PA+TVA</th>
                         <th scope="col">Date de livraison</th>
                         <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="commandes">
                    {% for commande in commandes %}
                        <tr>
                            <td> {{commande.idCommande}} </td>
                            <td> {{commande.nomClient}}</td>
                            <td> {{commande.nomProduit}}</td>
                            <td> {{commande.prixUnitaire}} </td>
                            <td> {{commande.quantite}} </td>
                            <td> {{commande.montant}} </td>
                            <td> {{commande.date}} </td>
                            <td> <a href="EditeCommande.php?&id={{commande.idCommande}}" target="_self"><i class="fas fa-edit"></i></a> &nbsp
                            <a onclick ="return confirm(' Êtes vous sûr de vouloir supprimer le produit')";
                             href="SupprimeCommande.php?&id={{commande.idCommande}}" target="_self"> <i class="fas fa-trash-alt"></i> </a>
                            </td>
                        </tr>   
                    {% endfor %}
                 </tbody>
                </table>
                  
                  <input type="button" class="btn btn-success" onclick="window.location.href = 'ImprimeCommande.php';" value="imprimer"/>





                 <div class="container" style="text-align: center;" >
                        <button class="btn btn-primary" onclick="firstPage()">|&lt;</button>
                        <button class="btn" onclick="previous()">  &lt;</button>
                        <span id="pageInfo"></span>
                        <button class="btn" onclick="nextPage()">&gt;</button>
                        <button class="btn btn-primary" onclick="lastPage()">&gt;|</button>
                    </div>
             </div>
            </div>
        </div>
    </div>
   </div>
 </div>
 </div>



{% endblock %} 



    
{% block script %}
    <script > 
    let commandes = {{commandes|json_encode|raw}};
    </script>
      <script src="js/commandes.js"></script>

 {% endblock %}
 
 
